@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800'); 

body {
	background-color: white;
	color: #9c9c9c;
}

h1, h2, h3, p, .h1, .h2, .h3, .p {
	font-weight: 400;
	color: #000;
	font-family: "Dosis",sans-serif;
	margin: 0;
}

@media screen and (min-width: 601px) {
	h1, .h1 {
		font-size: 70pt;
	}
	
	h2, .h2 {
		font-size: 36pt;
	}
	
	h3, .h3 {
		font-size: 36pt;
	}
}

@media screen and (max-width: 600px) {
	h1, .h1 {
		font-size: 15vw;
	}

	h2, .h2 {
		font-size: 8vw;
	}

	h3, .h3 {
		font-size: 8vw;
	}
}

p, .p {
	font-family: "Dosis",sans-serif;
	font-size: 12pt;
}

a {
	font-family: "Dosis",sans-serif;
	font-size: 12pt;
	color: black;
	text-decoration: none;
	transition: all .5s ease;
	cursor: pointer;
}

#header {
/*	min-height:100vh;*/
	text-align: center;
	padding: 10px;
}

.profile {
	width: 50vw;
	min-width: 300px;
	max-width: 400px;
	height: auto;
}

.contact ul {
	padding-left: 0;
}

.fab {
	padding-right: 10px;
}

a .fa-linkedin:hover {
	color: #0e76a8;
}

a .fa-instagram-square:hover {
	color: #DA1C5C;
}

a .fa-github-square:hover {
	color: #858585;
}

a .fa-envelope-square:hover {
	color: #C20003;
}

#projects {
	background-color: #EAEAEA;
	text-align: center;
	padding: 10px;
}

.project-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.project {
	background-color: #9C9C9C;
	padding-top: 100%;
	text-align: center;
}

.project:hover {
	transition: all .5s ease;
	cursor: pointer;
}

.website {
	background-image: url("../images/website.png");
	background-size: contain;
}

.website:hover {
	background-image: url("../images/website-text.png");
	background-color: #65B8DB;
	background-size: contain;
}

.nlp {
	background-image: url("../images/nlp.png");
	background-size: contain;
}

.nlp:hover {
	background-image: url("../images/nlp-text.png");
	background-color: #DB7500;
	background-size: contain;
}

.prediction {
	background-image: url("../images/prediction.png");
	background-size: contain;
}

.prediction:hover {
	background-image: url("../images/prediction-text.png");
	background-color: #3641DB;
	background-size: contain;
}

.airbnb {
	background-image: url("../images/airbnb.png");
	background-size: contain;
}

.airbnb:hover {
	background-image: url("../images/airbnb-text.png");
	background-color: #18DB28;
	background-size: contain;
}

.cookie {
	background-image: url("../images/cookie.png");
	background-size: contain;
}

.cookie:hover {
	background-image: url("../images/cookie-text.png");
	background-color: #DBC302;
	background-size: contain;
}

.cob {
	background-image: url("../images/cob.png");
	background-size: contain;
}

.cob:hover {
	background-image: url("../images/cob-text.png");
	background-color: #DA1C5C;
	background-size: contain;
}

#about {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about h2 {
	text-align: center;
	padding: 10px;
}

.btn {
	font-family: "Dosis",sans-serif;
	font-size: 24px;
	border-radius: 4px;
	background-color: #3c3c3c;
	color: #fff;
	padding: 5px 25px;
}

.btn:hover {
	background-color: #25A0FB;
	transition: all .5s ease;
	cursor: pointer;
}

.footer {
	text-align: center;
	padding: 10px;
	padding-bottom: 50px;
}

#extras {
	background-color: #EAEAEA;
	text-align: center;
	padding: 10px;
}

.extra-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	padding: 10px;
}

.extra {
	background-color: #9C9C9C;
	padding-top: 100%;
	text-align: center;
}

.extra:hover {
	transition: all .5s ease;
	cursor: pointer;
}

.dance {
	background-image: url("../images/dance.png");
	background-size: contain;
}

.dance:hover {
	background-image: url("../images/dance-text.png");
	background-color: #99307F;
	background-size: contain;
}

.art {
	background-image: url("../images/art.png");
	background-size: contain;
}

.art:hover {
	background-image: url("../images/art-text.png");
	background-color: #9454DB;
	background-size: contain;
}

#gallery {
	background-color: #EAEAEA;
	text-align: center;
	padding: 10px;
}

.gallery-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.gallery {
	background-color: #9C9C9C;
	padding-top: 100%;
	text-align: center;
	background-size: contain;
}

.p01 {
	background-image: url("../images/art/01.png")
}

.p02 {
	background-image: url("../images/art/02.png")
}

.p03 {
	background-image: url("../images/art/03.png")
}

.p04 {
	background-image: url("../images/art/04.png")
}

.p05 {
	background-image: url("../images/art/05.png")
}

.p06 {
	background-image: url("../images/art/06.png")
}

.p07 {
	background-image: url("../images/art/07.png")
}

.p08 {
	background-image: url("../images/art/08.png")
}

.p09 {
	background-image: url("../images/art/09.png")
}

.p10 {
	background-image: url("../images/art/10.png")
}

.p11 {
	background-image: url("../images/art/11.png")
}

.p12 {
	background-image: url("../images/art/12.png")
}

.p13 {
	background-image: url("../images/art/13.png")
}

.p14 {
	background-image: url("../images/art/14.png")
}

.p15 {
	background-image: url("../images/art/15.png")
}

.p16 {
	background-image: url("../images/art/16.png")
}

.p17 {
	background-image: url("../images/art/17.png")
}

.p18 {
	background-image: url("../images/art/18.png")
}