.container {
  width: 890px;
}

#graphic {
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 15px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

.button {
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 15px;
  color: #767678;
  border-radius: 4px;
  background-color: #555555;
  color: #fff;
  padding: 5px 25px;
  transition-duration: 0.4s;
}

.button:hover {
	background-color: #fff;
	color: #555555;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
}

#vis .title, .lookahead, .summary, .prediction {
  font-family: Arial,Helvetica,"san-serif";
  font-size:80px;
  text-anchor: middle;
}

.background {
	fill: none;
	pointer-events: all;
}

#states .active {
	display:none;
}

#state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.county-boundary {
	fill: #aaa;
	stroke: #fff;
	stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
	fill: gray;
}

body { 
	font: 12px Arial;
}

path { 
    stroke: white;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
